.form {
    width: 100%;
    padding: 0 2%;
    height: 40px;
      display: flex;
      justify-content: space-between;
  }
  
  .form input {
    width: 100%;
    margin: 5px
  }
  
  .form button {
    width: 3%;
    background-color: var(--teal);
    color: var(--grey);
    border: none;
    border-radius: 5px;
  }
  